<section class="filter__section">
  <div class="center py-4">
    <div class="filter__bar col-10 d-flex mx-auto">
      <button class="w-100 filter__buttons"
              *ngFor="let filter of filterData"
              [class.active]="filter.isActive"
              (click)="itemsFilter(filter)">{{filter.name}}</button>
    </div>
  </div>
</section>
<section class="films__section py-5">
  <div class="center">
    <div class="films__list">
      <app-movie-card
        *ngFor="let item of data; trackBy:trackByFn"
        [itemData]="item"></app-movie-card>
    </div>
  </div>
</section>
