<section class="details__page" *ngIf="data else Loading">
  <div class="center">
    <div class="about__film d-flex align-items-stretch">
      <div class="left__side d-flex col-6 px-0 py-5">
        <div class="img__side col-3 px-0">
          <img class="w-100"
               [src]="'https://image.tmdb.org/t/p/w500/' + data.poster_path"
               [alt]="data.title">
        </div>
        <div class="about__side px-0  col-10" style="z-index: 10">
          <div class="pl-3 pt-4">
            <h1 class="text__color ">{{data.title}}</h1>
            <div class="details">
              <div class="up__side d-flex">
                <span class="genre text__color ">
                  <span *ngFor="let ganre of data?.genres">{{ganre.name}} | </span>
                  <span>{{data.release_date}}</span>
                </span>
                <div>
                  <span class="about__box ml-2">{{data.runtime}} min</span>
                </div>

              </div>
              <div class="down__side d-flex mt-2">
                <div class="stars text__color ">
                  <i class="fas fa-star c-yelow"></i> ({{data.popularity}})
                </div>
              </div>
            </div>
            <div class="d-flex mt-3 flex-wrap" *ngIf="trailerData">
              <div *ngFor="let trailer of trailerData let i = index" class="col-5 pl-0 mb-2">

                <button class="button w-100"
                        (click)="openTrailer(trailer)">Trailer {{i + 1}}
                </button>
              </div>
            </div>
            <span class="about__text pt-3 d-flex text__color ">
              {{data.overview}}
            </span>
            <div class="pt-5 d-flex flex-wrap">
              <div class="rent_buy px-5 py-2 mb-2 mr-3">Budget {{data.budget | currency}}</div>
              <div class="rent_buy px-5 py-2 mb-2">Revenue {{data.revenue | currency}}</div>
            </div>
          </div>

        </div>
      </div>
      <div class="right__side col-6 px-0 background"
           [style.backgroundImage]="'url(https://image.tmdb.org/t/p/w500'+ data.backdrop_path +')'">
      </div>
    </div>
  </div>
</section>

<app-trailer *ngIf="openTrailerModal && trailerData "
             (closeModal)="closeModal($event)"
             [title]="data.title"
             [key]="ActiveTrailer.key"></app-trailer>

<section class="actors__section py-5" *ngIf="(actorCast || actorCrew) else Loading">
  <div class="center">
    <h2 class="text__color">Cast & Crew</h2>
    <drag-scroll class="actors__blocks d-flex pt-4 overflow-auto">
      <ng-container *ngIf="actorCast">
        <app-actor-card class="col-2 col-xl-1" drag-scroll-item
                        *ngFor="let actor of actorCast"
                        [data]="actor"></app-actor-card>
      </ng-container>
      <ng-container *ngIf="actorCrew">
        <app-actor-card class="col-2 col-xl-1" drag-scroll-item
                        *ngFor="let actor of actorCrew"
                        [data]="actor"></app-actor-card>
      </ng-container>
    </drag-scroll>
  </div>
</section>

<ng-template #Loading>Loading</ng-template>
