$main_blue: #0f7abe;
$white: #ffffff;
$dark: #0c222f;
$green: #00d34c;
$black: #000000;
$gray: #b2beb8;
$dark_blue: #001a2b;
$text__color: #9cb2c0;
$dark_gray: #1d1d1d;
$yelow: #fdc116;
body {
  padding-top: 60px;
}

.header {
  background-color: $main_blue;
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;

  .nav {
    max-width: 1920px;
  }

  .header__a {
    color: $white;
  }
}

.search__wrapper {
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  pointer-events: none;
  transition: 0.2s;

  &.active {
    opacity: 1;
    max-height: 2000px;
    pointer-events: initial;
    overflow: visible;
    transition: 0.4s;
  }
}

.filter__section {
  //margin-top: 60px;
  background-color: $dark;
}

.filter__bar {
  :first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left-width: 2px;
  }

  :last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right-width: 2px;
  }
}

.filter__buttons {
  border: 2px solid $main_blue;
  background-color: $dark;
  border-left-width: 1px;
  border-right-width: 1px;
  color: $white;

  &.active {
    background-color: $main-blue;
  }
}

.films__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .film__block {
    height: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background-color: $dark_gray;

    .film__block__child {
      border: 4px solid $white;
      transition: 0.2s;
      border-radius: 2px;
    }

    .film__name {
      color: $white;
      font-weight: 600;
      font-size: 14px;
    }

    .film__age {
      font-size: 12px;
    }

    .overlay__block {
      opacity: 0;
      pointer-events: none;
      transition: 0.2s;

      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        z-index: 20;
        pointer-events: none;
        background-color: $black;
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }

      .text {
        color: $white;
        font-size: 16px;
        font-weight: 600;
        position: relative;
        z-index: 40;
      }

      .overlay__button {
        background-color: $green;
        color: $white;
        border: none;
        border-radius: 4px;
        position: relative;
        z-index: 40;
      }

    }

    &:hover {
      .film__block__child {
        border-color: $green;
        transition: 0.2s;
      }

      .overlay__block {
        opacity: 1;
        transition: 0.2s;
        pointer-events: initial;
      }
    }
  }
}

@media only screen and (max-width: 1720px) {

  .center {
    padding-left: 30px;
    padding-right: 30px;
  }
  .films__list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1520px) {
  .films__list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (max-width: 1220px) {
  .films__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.about__box {
  background-color: $gray;
  color: $black;
  padding: 2px 12px 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  white-space: nowrap;
}

.about__film {
  .right__side {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100px;
      left: 0;
      top: 0;
      background: linear-gradient(90deg, #001a2b 0%, rgba(0, 26, 43, 0.5) 35%, transparent 100%);
    }
  }
}

.genre {
  font-size: 16px;
}

.actors__section {
  background-color: $dark_blue;
}

.actor__block {
  .name {
    color: $white;
    font-size: 14px;
  }

  .position {
    font-size: 12px;
    white-space: initial;
  }
}

.actors__blocks {
  .drag-scroll-content {
    overflow: hidden !important;
  }
}

.details__page {

  background-color: $dark_blue;
  border-bottom: 1px solid $main_blue;
}

.button {
  border: 2px solid $main_blue;
  background-color: transparent;
  border-radius: 4px;
  color: $white;
}
body {
  background-color: $dark_blue;
}
ul {
  margin-bottom: 0;
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

.rent_buy {
  background-color: $main_blue;
  color: $white;
  border: none;
  border-radius: 4px;
}

.main__logo {
  font-size: 25px;
}

.pointer {
  cursor: pointer;
}

.c-white {
  color: $white;
}

.c-green {
  color: $green;
}

.c-yelow {
  color: $yelow;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  display: block;
  margin: 0 auto;
  max-width: 1720px;
  width: 100%;
}

.text__color {
  color: $text__color;
}


